<div
  class="px-4 py-8 md:px-6 lg:px-8"
  style="
    background: radial-gradient(
      69.84% 69.84% at 50% 100%,
      rgba(21, 101, 192, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  "
>


  <div class="grid mt-7">
    <div class="col-12 md:col-12">

      <div class="shadow-1 p-5 surface-card text-center border-round">
        <div class="text-900 text-8xl font-bold mb-3">PROFETA DEV</div>
        <div class="text-900 text-6xl font-bold mb-3">
        VOCÊ VIU ESSE <br />
        PROGRAMADOR?
        </div>
        <div
          class="border-circle bg-orange-50 p-4 text-orange-600 inline-flex justify-content-center align-items-center mb-4"
        >

          <p-image src="assets/images/rectangle512.png" alt="rectangle" width="250px" height="auto"/>
        </div>
        <div class="text-900 font-medium text-2xl mb-4">PERFIL MAGICO <br> USE ESSE RECURSO COM EXTREMA CAUTELA</div>
        <div class="text-700 mb-4 line-height-3">
          TODA INFORMAÇÃO SOBRE ESSE PROFISSIONAL ESTA NESSA PAGINA, BASTA CLICAR SOBRE O QUE VOCÊ QUER SABER QUE COMO  MAGICA AS INFORMAÇÕES SERÃO APRESENTADAS
        </div>
        <button
          pButton
          pRipple
          label="Learn More"
          class="p-button-text font-bold"
        ></button>
      </div>
    </div>
  </div>




  <div class="grid mt-7">
    <div class="col-12 md:col-4">
      <div class="shadow-1 p-5 surface-card text-center border-round">
        <div class="text-900 font-medium text-2xl mb-4">EXPERIENCES</div>
      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
          <li class="flex align-items-center py-2 border-bottom-1 surface-border">
              <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                  <i class="pi pi-dollar text-xl text-blue-500"></i>
              </div>
              <span class="text-900 line-height-3 font-medium">
                  Richard Jones<span class="text-700 font-normal"> has purchased a blue t-shirt for <span class="text-primary font-medium">$79</span></span>
              </span>
          </li>
      </ul>
        <button
          pButton
          pRipple
          class="p-button-text font-bold"
        ><i class="pi pi-dollar text-xl text-blue-500"></i></button>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="shadow-1 p-5 surface-card text-center border-round">
        <div class="text-900 font-medium text-2xl mb-4">EXPERIENCES</div>
      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
          <li class="flex align-items-center py-2 border-bottom-1 surface-border">
              <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                  <i class="pi pi-dollar text-xl text-blue-500"></i>
              </div>
              <span class="text-900 line-height-3 font-medium">
                  Richard Jones<span class="text-700 font-normal"> has purchased a blue t-shirt for <span class="text-primary font-medium">$79</span></span>
              </span>
          </li>
      </ul>
        <button
          pButton
          pRipple
          class="p-button-text font-bold"
        ><i class="pi pi-dollar text-xl text-blue-500"></i></button>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="shadow-1 p-5 surface-card text-center border-round">
        <div class="text-900 font-medium text-2xl mb-4">EXPERIENCES</div>
      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
          <li class="flex align-items-center py-2 border-bottom-1 surface-border">
              <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                  <i class="pi pi-dollar text-xl text-blue-500"></i>
              </div>
              <span class="text-900 line-height-3 font-medium">
                  Richard Jones<span class="text-700 font-normal"> has purchased a blue t-shirt for <span class="text-primary font-medium">$79</span></span>
              </span>
          </li>
      </ul>
        <button
          pButton
          pRipple
          class="p-button-text font-bold"
        ><i class="pi pi-dollar text-xl text-blue-500"></i></button>
      </div>
    </div>




  </div>
</div>
